.profile-img > img{
    width: 392px;
    height: 450px;
}
.otherDetail > input{
    width: 400px;
    height: 44px;
    font-size: larger;
}
.otherDetail > label{
    font-size: xx-large;
}

.com_Detail > input{
    width: 400px;
    height: 44px;
    font-size: larger;
}
.com_Detail > label{
    font-size: xx-large;
}

.emp , .com {
    display: flex;
}
.profile-img{
    margin: 20px;
}
.otherDetail , .com_Detail{
    padding-left: 300px;
}

.com , .emp{
    margin: 40px;
    flex-direction: column;
}

#profile {
    padding: 0px 0px 15px 10px;
    font-size: xxx-large;
}

#comform > label{
    display: inline-block;
    
    font-size: x-large;
    width: 300px;
}

#comform > input{
    margin-left: 130px;
    width: 350px;
    height: 30px;
    font-size: larger;
}

/* footer{
    height: 80px;
    background-color: #003580;
} */



#profileSpan2 {
    font-size: larger;
    padding: 0px 0px 15px 10px;
}